{% extends 'IdrolabJobeetBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/bundles/idrolabjobeet/css/jobs.css" />
{% endblock %}

{% block content %}
    <h1>Job list</h1>

    <div id="jobs">
      <table class="jobs">
        {% for entity in entities %}
            <tr class="{{ loop.index is odd ? 'even' : 'odd' }}">
              <td>{{ entity.location }}</td>
              <td><a href="{{ url('job_show', {id: entity.id}) }}">{{ entity.position }}</a></td>
              <td>{{ entity.company }}</td>
            </tr>
        {% endfor %}
    </table>
   </div>
{% endblock %}
