{% extends 'IdrolabJobeetBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/bundles/idrolabjobeet/css/jobs.css" />
{% endblock %}

{% block content %}
  {{ ip }}<br>
  {{ result.latitude}}, {{ result.longitude}}
  <div id="jobs">
    {% for entity in entities %}
    <div class="category_{{ entity.name }}">
      <div class="category">
        <div class="feed">
          <a href="">RSS Feed</a>
        </div>
        <h1>{{ entity.name }}</h1>
      </div>

      <table class="jobs">

        {% for job in entity.jobs %}
          <tr class="{{ loop.index is odd ? 'even' : 'odd' }}">
            <td class="location">{{ job.location }}</td>
            <td><a href="{{ url('job_show', {id: job.id}) }}">{{ job.position }}</a></td>
            <td>{{ job.company }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
</div>

{% endblock %}
