{% extends 'IdrolabJobeetBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/bundles/idrolabjobeet/css/job.css" />
{% endblock %}

{% block content %}

<div id="job">
  <h1>{{ entity.company }}</h1>
  <h2>{{ entity.location }}</h2>
  <h3>
    {{ entity.position }}
    <small> - {{ entity.type }}</small>
  </h3>

   {% if  entity.logo  %}
    <div class="logo">
      <a href="{{ entity.url }}">
        <img src="{{ entity.logo }}"
          alt="{{ entity.company }} logo" />
      </a>
    </div>
  {% endif %}

  <div class="description">
    {{ entity.description }}
  </div>

  <h4>How to apply?</h4>

  <p class="how_to_apply">{{ entity.howToApply }}</p>

  <div class="meta">
    <small>posted on {{ entity.createdAt|date('Y-m-d H:i:s') }}</small>
  </div>

  <div style="padding: 20px 0">
    <a href="{{ url('job_edit', {id: entity.id}) }}">Edit</a>
  </div>
</div>
   

        <ul class="record_actions">
    <li>
        <a href="{{ path('job') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('job_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
